p, ul{
    border: 2px solid black;
    padding: 3.5px;
}

.block, li {
    border: 2px solid blue;
    padding: 3.5px;
}

ul  {
    display: flex;
    list-style: none;
}

.block {
    display: block;
}