body {
  font-family: monospace;
}

.standardBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid purple;
  background-color: grey;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}

.alternativeBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid aquamarine;
  background-color: tan;
  padding: 40px;
  margin: 40px;
  width: 390px;
  height: 240px;
}
